@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Tilt+Prism&display=swap');

@font-face {
    font-family: 'Raleway';
    src: url(../css/Raleway-VariableFont_wght.woff);
    src: url(../css/Raleway-VariableFont_wght.ttf) format(truetype);
    
}

body {
    width: 1160px;
    justify-content:center;
    border-right: solid #117864;
    margin: auto;
}

main{
    font-family: "Raleway", sans-serif;
    flex-direction: column;
 
}

header {
    display: flex;
    flex-direction: column;
    background-color: #76d7c4;
    color: white;
    font-family: "Lato";
    font-weight: bold;
    text-align: center;

}

h1{
    text-transform: uppercase;
    font-size: 2.5em;
}

header p {
    font-size: 1.5em;
} 

#Photo {
    height: 200px;
    /*width: 150px;*/
    border-radius: 10%;
 
 }
 
 

 figure #Photo:hover {
   cursor: zoom-in;
 }

 figure #Photo:active {
   height:100%;
   width: 100%;

 }


#Contact {
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 90%;
    justify-content: center;
    background-color: #117864 ;
    align-items:center ;
    
}

#Contact a{
    display: block;
    flex-basis: 30%;
    color: white;
    font-size: 1em;
    text-decoration: none;
}

#Contact a:hover{
   text-decoration: underline;
}

#Adress {
    text-align: left;


 }

 #Mail {
    text-align: center;
 }

#Phone {
    text-align: right;

 }

 #Various_topics {
    width: 400px ;
    background-color: #a3e4d7;
    padding-right: 30px;

 }

 #CV {
    width: 760px;
    padding-right: 20px;
    padding-left: 20px;
 }

 #Corpus {
    display: flex;
    flex-direction: row;

 }

 h2 {
    background-color: #dbc2a4;
    font-weight: 900;
    text-indent: 20px;
    font-size: 1.5em;
 }

 h3{
   font-weight: 600;
   font-size: 1.2em;
 }

 #CV p{
   font-size: 1em;
   font-weight: 500;
 }

 #NewSoftware {
   flex: 1 1 auto;
   height: 100px;
   column-width: 200px;
 }

 #Skills h4 {
   padding-left: 20px;
 }

 #CV ul{
   font-size: 1em;
   font-weight: 500;
 }

 #CV h2 {
    border-left: 10px solid #48c9b0;
 }

 #CV div div:hover {

   border-right: 10px solid #48c9b0;
 }

 #About p {
    text-indent: 50px;
 }

 #Various_topics  p {
    color: #2c3e50;
    font-size: 1em;
    padding-left: 15px;
    text-align: justify;
 }

 #Various_topics  ul {
    color: #2c3e50;
    font-size: 1em;
    padding-left: 30px;
    text-align: justify;
 }

 footer{
   text-align: center;
   padding-top: 30px;
   padding-bottom: 30px;
 }

 #Icon img {
   height: 30px;
 }

#Icon a:hover {
   opacity: 0.7;
 }
 